.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.links {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.linkWrapper {
    display: flex;
    align-items: stretch;
    gap: 10px;
}

.icon {
    fill: var(--inverted-primary-color);
}

.link {
    opacity: 1;
    transition: 0.2s opacity;
}

.collapsedBtn {
    z-index: 10;
    position: absolute;
    bottom: 40px;
}

.size {
    z-index: 10;
    position: absolute;
    bottom: 40px;
}

.size_m {
    @extend .size;

    right: calc(var(--font-line-m) * -1);
}

.size_l {
    @extend .size;

    right: calc(var(--font-line-l) * -1);
}

.size_xl {
    @extend .size;

    right: calc(var(--font-line-xl) * -1);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        gap: 0;
    }

    .link {
        opacity: 0;
        transition: 0.1s opacity;
        width: 0;
    }
}
